<!DOCTYPE HTML>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <styles>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="../css/bootstrap-table-expandable.css">
            <link rel="stylesheet" href="../static/admin-list.css">
        </styles>
        <title>Admin List</title>
</head>
<body>
    <section>
        <button onclick="addrow();" "></button>
        <div class="container">
                    <table class="table table-hover table-striped table-sm mydatatable" id="myTable">
                        <thead>
                            <tr>
                                <th id="file_id">File&nbsp;Id</th>
                                <th id="digital_sign">Transaction Details</th>
                                <th id="comment">Comments</th>
                            </tr>
                        
                        </thead>
                        <tbody id="tabledata">

                            <tr class="chrow" onclick="dostuff(this)">
                                <td >cs2020001</td>
                                <td><i class="fa fa-file"></i> abc.doc</td>
                                <td>comments asdasdsadasdaaaaaaaaaaaaaaaaaaaaaaaaaaa
                                    aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</td>
                            </tr>
                            <tr class="chrow" onclick="dostuff(this)">
                                <td >cs2020002</td>
                                <td ><i class="fa fa-file"></i>  abc.doc</td>
                                <td>comments asdasdsadasd</td>
                            </tr>
                            <tr class="chrow" onclick="dostuff(this)">
                                <td >cs2020003</td>
                                <td><i class="fa fa-file"></i> abc.doc</td>
                                <td>comments asdasdsadasd</td>
                            </tr>
                            <tr class="chrow" onclick="dostuff(this)">
                                <td >cs2020004</td>
                                <td>abc.png</td>
                                <td>comments asdasdsadasd</td>
                            </tr>
                            <tr class="chrow" onclick="dostuff(this)">
                                <td >cs2020005</td>
                                <td>abc.png</td>
                                <td>comments asdasdsadasd</td>
                            </tr>
                            <tr class="chrow" onclick="dostuff(this)">
                                <td >cs2020006</td>
                                <td>abc.png</td>
                                <td>comments asdasdsadasd</td>
                            </tr>
                            <tr class="chrow" onclick="dostuff(this)">
                                <td >cs2020007</td>
                                <td>abc.png</td>
                                <td>comments asdasdsadasd</td>
                            </tr>
                            <tr class="chrow" onclick="dostuff(this)">
                                <td >cs2020008</td>
                                <td>abc.png</td>
                                <td>comments asdasdsadasd</td>
                            </tr>
                            <tr class="chrow" onclick="dostuff(this)">
                                <td >cs2020009</td>
                                <td>abc.png</td>
                                <td>comments asdasdsadasd</td>
                            </tr>
                            <tr class="chrow" onclick="dostuff(this)">
                                <td >cs2020010</td>
                                <td>abc.png</td>
                                <td>comments asdasdsadasd</td>
                            </tr>
                            <tr class="chrow" onclick="dostuff(this)">
                                <td >cs2020011</td>
                                <td>abc.png</td>
                                <td>comments asdasdsadasd</td>
                            </tr>
                            <tr class="chrow" onclick="dostuff(this)">
                                <td >cs2020012</td>
                                <td>abc.png</td>
                                <td>comments asdasdsadasd</td>
                            </tr>
                            <tr class="chrow" onclick="dostuff(this)">
                                <td >cs2020013</td>
                                <td>abc.png</td>
                                <td>comments asdasdsadasd</td>
                            </tr>

                        </tbody>
                    </table>

        </div>

    </section>
</body>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.18.0/bootstrap-table.min.js" integrity="sha512-r+k0ZHRS62LiRIFpBwrwQ14MIT9YPusK7AcoeT34gHdzh2p7FBmU43/aE2ZDem9NM7bSIbMMV23u6zYny28oqg==" crossorigin="anonymous"></script>
    <script src="../js/bootstrap-table-expandable.js"></script>

    <script src="../static/admin-list.js"></script>
    <script>
        
    </script>

</html>