*{
    margin:0;
    padding:0;
}
body{
	font-family: Arial, Helvetica,sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
  height: 100%;
  
}
section h2{
  border-bottom: 2px solid lightgray;
}
section .container{
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
  min-height:0;
  justify-content: center;
}
section .container img{
  align-self: center;
  padding:2rem;
  border-radius: 40%;
  height:10rem;
}
section .tbtn{
  padding:0;
  margin:0;
  justify-content: center;
  align-content: center;
  flex-shrink:1;
  margin-left:1rem;
  margin-right:1rem;
  border-radius:10px;
  transition-duration: 0.4s;
  border:1px solid rgb(17, 17, 17);
  background-color: #fff;
  color:linear-gradient(to bottom right,black,rgb(201, 201, 201));;
  /*background-image:linear-gradient(to bottom right,rgb(255, 132, 31),rgb(129, 172, 253),rgb(255, 112, 136)) ;*/
}
#btn1:hover{
  border:1px solid white;
  background-image:linear-gradient(to bottom right,rgb(80, 80, 80),black);
  color:white;
}
#btn2:hover{
  border:1px solid white;
  background-image: linear-gradient(to top left,rgb(1, 127, 230),rgb(0, 255, 242));
  color:white;
}
#btn3:hover{
  border:1px solid white;
  background-image: linear-gradient(to top left,rgb(153, 18, 153),rgb(252, 135, 252));
  color:white;
}
#History{
  background-color: rgb(24, 23, 23);
  background-image: linear-gradient(to bottom right,black,rgb(80, 80, 80));
}
#Pending{
  background-color: rgb(59, 205, 250);
  background-image: linear-gradient(to bottom right,rgb(1, 127, 230),rgb(0, 255, 242));
}
#Create{
  background-color: rgb(145, 4, 145);
  background-image: linear-gradient(to bottom right,rgb(153, 18, 153),rgb(252, 135, 252));
}
#History,#Pending,#Create{
  align-content: center;
  border:solid 1px black;
  height:15rem;
  border-radius:5%;
  min-width:11rem;
  margin:30px;
  display:flex;
  flex-direction: column;
}
body header{
    background-color:orangered;
    font-size:2rem;
}
body section{
    background-color: white;
}
body footer{
    background-color: grey;
    font-size:1rem;
    height:3rem;
}