<header>
    <div class="header">
      {% if session['loggedin'] %}
      <div class=".text-info logged-in">
        <i class="fa fa-user" aria-hidden="true"></i> {{session['username']}}
      </div>
      {% endif %}
      JSS MAHAVIDYAPEETHA
      <br>
      JSS Science And Technology University
    </div>
    {% if back %}
      <a href="{{ back }}" class="btn btn-dark" id="back"><i class="fa fa-arrow-left"></i> Back</a>
    {% endif %}
    {% if logout %}
      <a href="{{ logout }}" class="btn btn-outline-dark" id="Logout">Logout <i class="fa fa-sign-out" ></i></a>
    {% endif %}
    <div style="height: 40px;"></div>
  </header>
  