{% extends 'base.html' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{url_for('static',filename='loginpage.css')}}">
{% endblock %}

{% block main %}    
        <Section>
            {% with messages = get_flashed_messages(with_categories=true) %}
				{% if messages %}
					{% for category, message in messages %}
                    <div class="alert alert-{{category}} alert-dismissible fade show">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{message}}
                    </div>
                    {% endfor %}
				{% endif %}
			{% endwith %}
            <form action="" method="post">
                {{ form.hidden_tag() }}
                <div class="container">
                    <div><h2>Login</h2></div>
                    <label for="username">
                        <b>Username</b>
                    </label>
                    {{ form.username(spellcheck="false", autocomplete="off", list="hosting-plan", placeholder="Enter Username") }}
                    <datalist id="hosting-plan">
                        {% for department in dept %}
                        <option value="{{ department[1] }}"></option>
                        {% endfor %}

                    </datalist>
                    <div class="error">
						{% for error in form.errors['username'] %}
                        <p class="text-warning"><i class="fa fa-warning"></i>{{error}}</p>
						{% endfor%}
					</div>
                    <label for="password"><b>Password</b></label>
                    {{ form.password(placeholder="Enter Password") }}
                    <div class="error">
						{% for error in form.errors['password'] %}
                        <p class="text-warning"><i class="fa fa-warning"></i>{{error}}</p>
						{% endfor%}
					</div>
                    <div style="text-align: left;">
                    
                    <input type="checkbox" onclick="myFunction()"> Show Password
                    <br></br>
                    {{ form.login }}
                    </div>
                    
                </div>


            </form>
        </Section>
        {% endblock %}

        {% block scripts %}
        <script>
            function myFunction() {
            var x = document.getElementById("password");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
            }
        </script>
    {% endblock %}